@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");


:root{
    --black: #191826;
    --white: #fcfaf9;
    --yellow: #ffb964;
    --orange: #fa7453;
    --blue : #66e2dc;
}

*{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body{
    background-color: var(--white);
    background-image: url(assets/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-position: 159px -104px;
    background-size: 281.4px 480px;
}

.logo{
    color: var(--black);
    height: 32px;
    width: 146px;
    position: relative;
    left: 24px;
    top: 40px;     
}

.backgroundPattern1{
display: none;
}

.description{
    margin: 136px auto 0;
    height: 320px;
    width: 327px;
}

.description h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.45px;
    
}

.description p{
    margin-top: 20px;
    line-height: 26px;
    
}

.product{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 375px;
    height: 1024px;
    margin-top: 68px;
}

.product .illustrationApp{
    overflow: hidden;
    width: 209px;
    height: 430px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate( -50%);
    z-index: 10;
}

.product .backgroundPattern2{
    position: relative;
    background-color: var(--black);
    width: 375px;
    height: 600px;
    top: 98px;
    border-radius: 12px;
}


.product .backgroundPattern2 img{
    height: 420px;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;
}

.card{
    position: absolute;
    background-color: var(--orange);
    top: 478px;
    width: 375px;
    height: 546px;
    border-radius: 12px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h2{
    color: var(--white);
    width: 302px;
    height: 40px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-top: 48px;
}

.card p{
    color: var(--white);
    width: 302px;
    height: 140px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 12px;
}

.card .price{
    width: 302px;
    height: 52px;
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.card .price .frequency{
    height: 52px;
    width: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 52px;
    letter-spacing: -0.2px;
    margin-top: 36px;
}

.card .price .amount{
    height: 52px;
    width: auto;
    margin-right: 16px;
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
}

.card .downloadButtons{
    height: 136px;
    width: 296px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.card .downloadButtons a{
    text-decoration: none;
    height: 61px;
    line-height: 61px;
}

.card .downloadButtons a img{
    transform: translateY(10%);
}
.apple, .android{
    height: 61px;
    width: 296px;
    text-align: center;
    border-radius: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
}

.apple{
    color: var(--white);
    background-color: var(--black);
    
}

.apple:hover{
    background-color: var(--blue);
}

.android{
    color: var(--black);
    background-color: var(--white);

}

.android:hover{
    background-color: var(--yellow);
}

.contact{
    width: 327px;
    height: 169px;
    margin: 64px auto;
}

.contact .logo{
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 32px;
}

.contact p{
    font-weight: 400;
    line-height: 26px;
}

.contact a{
    font-weight: 700;
    text-decoration: none;
    color: var(--black);
}

.socialMedias{
    margin: 64px auto 80px 24px;
}

.socialMedias a{
    text-decoration: none;
    margin-right: 20px;
}

@media (min-width: 768px) {
    body{
        background-image: url(assets/bg-main-tablet.png);
        background-position-y: -111px;
        background-position-x: -254px;
        background-size: 808px 983px;
        background-repeat: no-repeat;
    }

    .logo{
        position: relative;
        left: 39px;
        top: 62px;     
    }

    .backgroundPattern1{
        display: block;
        position: absolute;
        right: -35px;
        top: -32px; 
        }

    .description{
        margin: 189px auto 0 39px;
        height: 320px;
        width: 327px;
    }

    .product{
        width: 696px;
        height: 834px;
        margin-top: 111px;
    }

    .product .backgroundPattern2{
        position: relative;
        background-color: var(--black);
        width: 100%;
    }

    .product .backgroundPattern2 img{
        height: 420px;
        width: auto;
        position: absolute;
        top: -31px;
        left: 229px;
        transform: none;
        z-index: 0;
    }

    .product .illustrationApp{
        left: 64px;
        transform: none;
        width: 270px;
        height: 556px;
        z-index: 5;
    }

    .card{
        position: absolute;
        top: 288px;
        left: 239px;
        width: 399px;
        z-index: 10;
        display: flex;
    }
    
    .footer{
        width: 696px;
        height: 143px;
        margin: 87px auto;
        display: flex;
        justify-content: space-between;
    }
    
    .contact{
        width: 366px;
        height: 79px;
        margin: 0;
    }
    
    .contact .logo{
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 32px;
    }
    
    .socialMedias{
        
        align-self: flex-end;
        margin-bottom: 29px;
        margin: 0 0 29px 0;
    }
}

@media (min-width: 1320px) {
    body{
        background-image: url(assets/bg-main-desktop.png);
        background-position-y: -112px;
        background-position-x: -146px;
        background-size: 1613px 1758px;
        background-repeat: no-repeat;
    }

    .logo{
        position: relative;
        left: 166px;
        top: 62px;     
    }

    .backgroundPattern1{
        display: block;
        position: absolute;
        right: -35px;
        top: -32px; 
        }

    .description{
        margin: 221px auto 0 166px;
        height: 316px;
        width: 1015px;
    }

    .description h1{
        font-weight: 700;
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -1px;    
    }
    
    .description p{
        width: 825px;
        height: 102px;
        margin-top: 40px;
        line-height: 34px;
        font-size: 20px;
        
    }

    .product{
        width: 1110px;
        height: 813px;
        margin-top: 108px;
    }

    .product .backgroundPattern2{
        top: 213px;
        width: 100%;
    }

    .product .backgroundPattern2 img{
        height: 468px;
        width: auto;
        position: absolute;
        top: -40px;
        left: 336px;
        transform: none;
        z-index: 0;
    }

    .product .illustrationApp{
        left: 102px;
        transform: none;
        width: 312px;
        height: 642px;
        z-index: 5;
    }

    .card{
        position: absolute;
        top: 303px;
        left: 569px;
        width: 399px;
        z-index: 10;
        display: flex;
    }
    
    .footer{
        width: 1110px;
        height: 79px;
        margin: 87px auto;
        display: flex;
        justify-content: space-between;
    }
    
    .contact{
        width: 651px;
        height: 79px;
        margin: 0;
        display: flex;
    }
    .contact .logo{
        position: relative;
        top: 0;
        left: 0;
        margin-right: 138px;
    }
    .socialMedias{
        
        align-self: flex-end;
        margin-bottom: 29px;
        margin: 0 0 29px 0;
    }

    .socialMedias a img:hover{
        fill: var(--orange);
    }
}